// Place all the styles related to the Login controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
h1 {
  margin-bottom: 50px;
  text-align: center;
  color: cadetblue;
  font-family: Georgia, 'Times New Roman', Times, serif;
}