// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
h1,
h2 {
  margin-bottom: 50px;
  text-align: center;
  color: cadetblue;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.mb-50 {
  margin-bottom: 50px;
}

.mr-50 {
  margin-right: 50px;
}