// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
h1 {
  text-align: center;
  color: cadetblue;
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin-bottom: 30px;
}
 
p {
  margin-bottom: 30px;
  font-size: 16px;
}

.mr-50 {
  margin-right: 50px;
}

.mb-60 {
  margin-bottom: 60px;
}