<h1 class = "text-center">The Result</h1>

<%if @year>0 %>
    <h2 class = "text-center">Your age is <%= @year %> years old.</h2>

<% else %>
    <%if @month>0 %>
        <h2 class = "text-center">Your age is <%= @month %> months.</h2>
    <% else %>
        <h2 class = "text-center">Your age is <%= @day %> days.</h2>
    <%end%>
    
<%end%>