// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.w-200 {
  width: 50%;
  margin: 50px auto 50px auto;
}

.mr-50 {
  margin-right: 50px;
}